body {
    background-color: #F2C46D;
}

.chat-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    height: 500px;
    padding: 10px;
    overflow-y: scroll;
}

.chat-wrapper {
    background-color: #A66571;
    padding: 24px;
    border-radius: 16px;
}

.user-controls {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    background-color: #F2A663;
    padding: 24px 12px;
    border-radius: 16px;
}

.user-message {
    background-color: rgba(138, 164, 216, 0.7);
    padding: 5px;
    margin-bottom: 10px;
}

.assistant-message {
    background-color: rgba(242, 141, 118, 0.7);
    padding: 5px;
    margin-bottom: 10px;
}

.error-message {
    color: #721c24;
    background-color: #f8d7da;
    padding: 5px;
    margin-bottom: 10px;
}

#error-msg {
    font-weight: 500;
}

.text-input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.loading-text {
    font-weight: 500;
}
