<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatWise</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Welcome to ChatWise!</h1>
        <h4 class="text-center">Your Intelligent Chatbot</h4>
        <div id="chat-container" class="chat-container"></div>
        <div class="row mt-3">
            <div class="col">
                <select class="form-control" id="function-select">
                    <option value="answer">Answer as Chatbot</option>
                    <option value="kb">Answer from Knowledgebase</option>
                </select>
            </div>
            <div class="col">
                <div class="input-group">
                    <input type="text" id="message-input" placeholder="Type your message here..." class="form-control">
                    <div class="input-group-append">
                        <button id="send-btn" class="btn btn-primary">Send</button>
                        <button id="clear-btn" class="btn btn-secondary">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="static/main.js"></script>
</body>
</html>
